# Core configuration variables
# Please make sure you copy these into an untracked .env file in order for Prisma to authenticate properly to your Neon PostgreSQL database.

DATABASE_URL="postgresql://user:password@ep-example-endpoint.us-east-2.aws.neon.tech/devstash?sslmode=require"
APP_URL="http://localhost:3000"
EMAIL_VERIFICATION_ENABLED="true"
RESEND_API_KEY="re_xxxxxxxxx"
RESEND_FROM_EMAIL="DevStash <onboarding@resend.dev>"
